@model SistemaDeRentCar.Models.Vehiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NChasis" class="control-label"></label>
                <input asp-for="NChasis" class="form-control" />
                <span asp-validation-for="NChasis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NMotor" class="control-label"></label>
                <input asp-for="NMotor" class="form-control" />
                <span asp-validation-for="NMotor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NPlaca" class="control-label"></label>
                <input asp-for="NPlaca" class="form-control" />
                <span asp-validation-for="NPlaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoVehiculo" class="control-label"></label>
                <select asp-for="IdTipoVehiculo" class="form-control" asp-items="ViewBag.IdTipoVehiculo"></select>
                <span asp-validation-for="IdTipoVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMarca" class="control-label"></label>
                <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.IdMarca"></select>
                <span asp-validation-for="IdMarca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModelo" class="control-label"></label>
                <select asp-for="IdModelo" class="form-control" asp-items="ViewBag.IdModelo"></select>
                <span asp-validation-for="IdModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoCombustible" class="control-label"></label>
                <select asp-for="IdTipoCombustible" class="form-control" asp-items="ViewBag.IdTipoCombustible"></select>
                <span asp-validation-for="IdTipoCombustible" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

